.progress-wrap {
    position: fixed;
    right: 40px; /* Ajuste a posição horizontal */
    bottom: 125px; /* Ajuste a posição vertical */
    height: 50px; /* Altura do botão */
    width: 50px; /* Largura do botão */
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--glass-background-color); /* Fundo do botão */
    color: var(--hover-color); /* Cor do ícone */
    box-shadow: var(--glass-box-shadow); /* Sombra do botão */
    backdrop-filter: var(--glass-backdrop-filter);
    border: var(--glass-border);
    opacity: 0; /* Inicialmente invisível */
    visibility: hidden; /* Inicialmente invisível */
    transform: translateY(15px); /* Animação de aparecer */
    transition: all 200ms ease; /* Transição suave */
    z-index: 1000; /* Certifique-se de que esteja acima de outros elementos */
}

.progress-wrap.active-progress {
    opacity: 1; /* Visível quando ativo */
    visibility: visible; /* Visível quando ativo */
    transform: translateY(0); /* Animação de subir */
}

.progress-circle {
    position: absolute; /* Para sobrepor o círculo de progresso */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.icon {
    position: relative; /* Para posicionar o ícone */
    font-size: 20px; /* Tamanho do ícone */
    z-index: 1; /* Acima do círculo de progresso */
}

/* Estilo para o caminho da barra de progresso */
.progress-circle path {
    fill: none;
    stroke: var(--hover-color); /* Cor da barra de progresso */
    stroke-width: 4; /* Espessura da barra de progresso */
    transition: stroke-dashoffset 0.5s ease; /* Transição suave para o progresso */
}
