.contact-container {
    padding: 80px 25px; 
    margin: 10px 40px 80px;
}

.contact-container .titles {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 60px; 
    margin-top: 0px;
}

.contact-container .links-icon {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 20px;
    justify-content: center; 
    align-items: stretch; 
}

.link-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 100%; 
    padding: 20px; 
    border-radius: 0.5rem; 
    background: var(--glass-background-color);
    box-shadow: var(--glass-box-shadow); 
    backdrop-filter: var(--glass-backdrop-filter); 
    -webkit-backdrop-filter: var(--glass-webkit-backdrop-filter); 
    border: var(--glass-border); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    cursor: pointer; 
    text-decoration: none; 
    height: 100%; 
}

.link-box:hover {
    background: var(--secondary-color);
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.080);
    transform: translateY(-5px); 
    border-color: var(--hover-color);
}

.link-box svg {
    width: 32px; 
    height: 32px; 
    margin-bottom: 10px; 
}

.link-title {
    font-size: 18px; 
    margin: 10px 0; 
    color: var(--text-color); 
}

.link-description {
    font-size: 16px;
    color: var(--bar-color); 
    margin-bottom: 0px;
}

.link-box .link-description {
    flex-grow: 1; 
    display: flex; 
    align-items: center; 
    justify-content: center;
}

@media (max-width: 1205px) {
    .contact-container .links-icon {
        grid-template-columns: 1fr; 
        gap: 20px; 
    }

    .contact-container{
        margin-right: 50px;
        margin-left: 50px;
        padding: 80px 0px;
    }

}
