.contact-container {
    padding: 80px 50px;
    margin-top: 20px;
    margin-bottom: 80px;
}

.contact-container .titles {
    display: flex;
    flex-direction: column;
    width: calc(50% - 30px);
}

.links-icon {
    margin-bottom: 50px;
}

.contact-container .links-icon > a {
    margin-right: 20px;
}

form {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    width: 100%;
}

form .form-left, form .form-right {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: calc(50% - 20px);
    position: relative; 
}

.form-group {
    position: relative;
}

.form-group input, .form-group textarea {
    width: 100%;
}

form textarea {
    resize: none;
    height: 110px;
}

form input, form textarea {
    border-radius: 5px;
    background-color: #D3ECEC;
    font-size: 16px;
    color: #333;
    border: 1px solid transparent;
}

form input:not(#fsubmit), form textarea {
    padding: 10px;
}

form {
    width: 100%;
}

input#fname, input#femail, input#fsubject, input#fsubmit {
    height: 40px;
}

input#fsubmit {
    background-color: #3A9088;
    color: #D3ECEC;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

input#fsubmit:hover {
    background-color: #2F7A6E;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

* input {
    padding: 0;
}

input#fmessage {
    height: 90px;
}

::placeholder {
    color: #616161;
    font-family: 'Roboto Condensed', "sans-serif";
}

.error-message {
    position: absolute;
    font-weight: bold;
    color: #B22828;
    font-size: 12px;
    left: calc(100% - 60px);
    margin-top: 5px;
    width: 50px;
    text-align: right;
    box-sizing: border-box;
    transition: opacity 0.2s ease, visibility 0.2s ease;
}

.error-message p{
    right: 0px; 
}

.form-group input.error, .form-group textarea.error {
    border: 3px inset #B22828;
    transition: border 0.2s ease, background-color 0.2s ease;
}

input:focus, textarea:focus {
    outline: none;
    border: 3px solid #3A9088;
    box-shadow: 0 0 2px black;
    font-family: 'Roboto Condensed', "sans-serif";
}

@media (max-width: 1000px) {
    .contact-container .titles {
        width: calc(50% - 20px);
    }

    form .form-left, form .form-right {
        gap: 30px;
        width: calc(50% - 20px);
    }
  
    form {
        display: flex;
        gap: 20px;
        justify-content: space-between;
        width: 100%;
    }
}

@media (max-width: 800px) {
    .contact-container .titles {
        width: 100%;
        margin-left: 0;
    }

    form {
        flex-direction: column;
        gap: 30px;
    }
    
    form .form-left, form .form-right {
        width: 100%;
    }

    form input, form textarea {
        width: 100%;
    }
}
