.contact-container {
    padding: 80px 50px;
    margin-top: 20px;
    margin-bottom: 80px;
}

.contact-container .titles {
    display: flex;
    flex-direction: column;
    width: calc(50% - 30px);
}

.links-icon {
    margin-bottom: 50px;
}

.links-icon > abbr {
    margin-right: 20px;
}

form {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    width: 100%;
}

.form-left, .form-right {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: calc(50% - 20px);
}

button.MuiButton-root {
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.MuiCheckbox-root {
    color: #3A9088;
}

.MuiCheckbox-root.Mui-checked {
    color: #2F7A6E;
}

/* Responsividade */
@media (max-width: 1000px) {
    .contact-container .titles {
        width: calc(50% - 20px);
    }

    form {
        gap: 20px;
    }
}

@media (max-width: 800px) {
    .contact-container .titles {
        width: 100%;
    }

    form {
        flex-direction: column;
        gap: 30px;
    }

    form .form-left, form .form-right {
        width: 100%;
    }
}

.contact-container span{
    font-size: 16px;
    font-family: 'Roboto Light', sans-serif;
}


.contact-container a {
    color: var(--cookie-learn-color);
}

