.home-container{
   float: left;
   padding: 70px 30px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   width: 100%;
   max-width: 100%;
   box-sizing: border-box;
   color: var(--text-color);
   margin-top: -20px;
}


.home-container p{
    width: 50%;
    font-family: "Roboto Regular","sans-serif";
}

.hello{
    margin-bottom: 30px;
    font-size: 30px;
}

.paragraph{
    margin-bottom: 70px;
    font-size: 18px;
    line-height: 2;
}

.github-icon svg,.linkdin-icon svg {
    stroke: var(--text-color);
}

.github-icon:hover svg, .linkdin-icon:hover svg {
    stroke: var(--hover-color);
}


@media (max-width: 650px) {
    .home-container {
        padding: 30px;
        margin-top: 45px;
        width: 100%;
    }
    .home-container p{
        width: 100%;
    }
}

.home-container svg{
    margin-right: 20px;
}