
body {
    background-color: var(--primary-color);
    margin: 0;
    padding: 0;
    min-width: 250px;
}


.header {
    padding: 30px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    background-color: var(--primary-color);
    border-bottom: 2px solid transparent;
    font-family: 'Roboto Regular', sans-serif;
}

.header.menu-open {
    background-color: var(--secondary-color);
}

.logo-container {
    display: flex;
    text-align: center;
    text-decoration: none;
    align-items: center;
    position: relative;
    z-index: 2;
}

.logo-container img {
   height: 40px;
}

.header-title-link {
    text-decoration: none;
    color: var(--text-color);
}

.header-title {
    margin-left: 10px;
    font-size: 18px;
}

.nav-options-container {
    display: flex;
    align-items: center;
}

.nav-options-container.active {
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--secondary-color);
    overflow: hidden;
    max-height: 0;
    transition: max-height;
    max-height: 500px; 
    animation: slideDown 0.4s ease forwards;
}

.nav-options-container.closing {
    max-height: 0;
    opacity: 0;
    animation: slideUp 0.4s ease forwards;
}

@keyframes slideDown {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes slideUp {
    0%{
        transform: translateY(0%);
    }
    100%{
        transform: translateY(-100%);
    }
}

.nav-options {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.nav-options li {
    margin-left: 20px;
    text-align: center;
    align-items: center;
    display: flex;
}

.nav-options li a {
    text-decoration: none;
    font-size: 16px;
    color: var(--text-color);
    cursor: pointer;
}

.nav-options li a:hover {
    color: var(--hover-color);
}

.hamburger {
    display: none;
    cursor: pointer;
    position: relative;
    width: 30px;
    height: 30px;
}

.hamburger-icon {
    fill: var(--text-color); 
    transition: fill 0.3s ease;
    transition: opacity 0.3s ease;
}


svg.hamburger-icon:hover {
    stroke: var(--hover-color); 
}

.hamburger__bar {
    transition-property: transform;
    transition-duration: 0.3s;
    transform-origin: center;
    stroke: var(--text-color);
    stroke-width: 10%;
}

.hamburger__bar--top {
    transform: translateY(-20%);
}
  
.hamburger__bar--bot {
    transform: translateY(20%);

}
  
.hamburger__bar--top.active {
    transform: rotate(45deg);
}

.hamburger__bar--bot.active {
    transform: rotate(-45deg);
}

.globe-button, .theme-toggle{
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: none;
}


.globe-button svg,.theme-toggle svg {
    stroke: var(--text-color);
    transition: stroke 0.3s ease;
}

.globe-button:hover svg, .theme-toggle:hover svg {
    stroke: var(--hover-color);
}

.button-container{
    display: flex;
    justify-content: center;
    margin-left: 20px;
}


.nav-options-container.active .globe-button, 
.nav-options-container.active .theme-toggle{
    margin: 0 10px; 
}
  
@media (max-width: 650px) {
    .hamburger {
        display: block;
    }

    .nav-options-container {
        display: none;
        flex-direction: column;
    }

    .nav-options-container.active {
        display: flex;
    }

    .nav-options {
        flex-direction: column;
    }

    .nav-options li {
        margin: 10px 0;
    }

    .button-container{
        margin-left: 0px;
        margin-bottom: 10px;
    }
}
