#loader-container {
  max-width: 220px;
  position: fixed; /* Garantir que a posição seja fixa na tela */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centralização perfeita tanto vertical quanto horizontal */
  z-index: 10000; /* Para garantir que o loader apareça acima de outros elementos */
}

#loader path {
  stroke-dasharray: 100%;
  stroke-dashoffset: 100%;
  animation: strokeAnimate 2s ease forwards;
}

#loader path:nth-child(2) {
  animation-delay: 0s;
}

#loader path:nth-child(3) {
  animation-delay: 0.3s;
}

#loader path:nth-child(4) {
  animation-delay: 0.9s;
}

#loader path:nth-child(5) {
  animation-delay: 1.2s;
}

#loader path:nth-child(6) {
  animation-delay: 1.5s;
}

#loader path:nth-child(7) {
  animation-delay: 1.8s;
}

#loader path:nth-child(8) {
  animation-delay: 2.1s;
}

@keyframes strokeAnimate {
  to {
    stroke-dashoffset: 0;
  }
}

@media screen and (max-width: 768px) {
  #loader-container {
    max-width: 150px;
  }
  #loader {
    width: 150px;
  }
}

@media screen and (max-width: 650px) {
  #loader-container {
    max-width: 100px;
  }
  #loader {
    width: 100px;
  }
}
