.home-container {
    padding: 80px 25px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
    margin: 20px 0 100px; 
    box-sizing: border-box;
    color: var(--text-color);
    max-width: 100%;
}

.home-container p,
.home-container div {
    margin-left: 40px;
}

.home-container p {
    width: 50%; 
}

.paragraph {
    margin-bottom: 70px;
    font-size: 18px;
    line-height: 2;
    margin-top: 0;
}

.github-icon, .linkdin-icon, .email-icon, .instagram-icon {
    stroke: var(--text-color);
}

.home-container .github-icon:hover,
.home-container .linkdin-icon:hover,
.home-container .email-icon:hover,
.home-container .instagram-icon:hover {
    stroke: var(--hover-color);
}

.home-container svg {
    margin-right: 20px; 
}

@media (max-width: 650px) {
    .home-container p {
        width: 100%; 
    }
}

@media (max-width: 1000px) {
    .home-container {
        padding: 50px;
        margin: 20px 0 50px;
    }

    .home-container p,
    .home-container div {
        margin-left: 0;
    }
}
