.home-container {
    padding: 80px 25px;
    display: flex;
    flex-direction: row;
    padding-top: 150px;
    box-sizing: border-box;
    color: var(--text-color);
    max-width: 100%;
    height: auto;
}

.home-container .contentLeft {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    width: 50%;
    padding: 0px 40px;
}

.links-icon {
    margin-left: 0px !important;
}

.home-container .contentRight {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-left: 0px;
    padding-left: 40px;
    flex: 1 1;
}

.home-container .contentRight img {
    min-height: 400px;
    max-height: 500px;
    height: calc(40vw - 10px);
    width: auto;
    object-fit: contain;
    position: relative;
    bottom: 40px;
    transition: max-height 0.3s ease;
}

.split-parent {
    text-align: left !important;
}

.home-container .contentLeft .titles,
.home-container .contentLeft .paragraph,
.home-container .contentLeft .links-icon {
    width: 100%;
}

.home-container .contentLeft .paragraph {
    max-width: 100%;
}

.home-container p,
.home-container div {
    margin-left: 40px;
}

.home-container p {
    width: 100%;
    margin-left: 0;
}

.paragraph {
    margin-bottom: 70px;
    font-size: 18px;
    line-height: 2;
    margin-top: 0;
}

.github-icon,
.linkdin-icon,
.email-icon,
.instagram-icon {
    stroke: var(--text-color);
}

.home-container .github-icon:hover,
.home-container .linkdin-icon:hover,
.home-container .email-icon:hover,
.home-container .instagram-icon:hover {
    stroke: var(--hover-color);
}

.home-container svg {
    margin-right: 20px;
}

.titles::after {
    content: '' !important;
}

@media (max-width: 650px) {
    .home-container p {
        width: 100%;
    }

    .home-container .contentRight img {
        max-width: 100%;
        height: 500px;
        width: auto;
    }
}

@media (max-width: 900px) {
    .home-container {
        flex-direction: column;
    }

    .home-container .contentRight {
        display: none;
    }

    .home-container .contentLeft {
        width: 100%;
        padding: 0;

    }

    .home-container .contentLeft .titles {
        font-size: 1.8rem;
        margin-bottom: 15px;
    }

    .home-container .contentLeft .avatar {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        height: auto;

    }

    .home-container .contentLeft {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .home-container .contentLeft img {
        max-width: 80% !important;
        height: auto !important;
        max-height: 500px;
        min-height: 200px;
        min-width: 300px;
    }


    .home-container .contentLeft .titles+.avatar {
        margin-top: 20px;
    }

    .home-container .contentLeft .avatar+.paragraph {
        margin-top: 20px;
    }

    .home-container .contentLeft .links-icon {
        display: flex;
        justify-content: center;
        gap: 15px;
    }
}


@media (min-width: 900px) {
    .home-container .contentLeft .avatar {
        display: none;
    }

    .home-container {
        flex-direction: row;
        max-width: 100vw;
        overflow-x: hidden;
    }

    .home-container .contentLeft {
        width: 50%;
    }

    .home-container .contentRight {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 40px;
    }

    .home-container .contentRight img {
        max-width: 130%;
        height: auto;
        max-height: 600px;
        min-height: 300px;
        min-width: 600px;
        object-fit: contain;
    }

}


@media (max-width: 1000px) {
    .home-container {
        padding: 50px;
        margin: 20px 0 50px;
    }

    .home-container p,
    .home-container div {
        margin-left: 0;
    }

    .home-container .contentLeft {
        padding: 0;
    }
}

@media (max-width: 1450px) {
    .home-container .contentRight img {
        position: relative;
    }
}