@font-face {
    font-family: 'Roboto Regular';
    src: url('./fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Roboto Light";
    src: url('./fonts/Roboto/Roboto-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
}


:root {
    --primary-color: #0B111E;   
    --secondary-color: #11192D; 
    --text-color: #AAD9D9;      
    --hover-color: #72C0C0;

    --glass-background-color:rgba(255, 255, 255, 0.012);
    --glass-box-shadow:0 4px 30px hsla(0, 0%, 0%, 0.15);
    --glass-backdrop-filter: blur(2.3px);
    --glass-webkit-backdrop-filter:blur(2.3px);
    --glass-border: 1px solid rgba(255, 255, 255, 0.05);

    --bar-color: #475472;
    --percentage-color:var(--text-color);
    --percentage-background:#182339;
}

.light-mode {
    --primary-color: #F5F5F5;   
    --secondary-color: #EBEBEB; 
    --text-color: #5C5C5C;      
    --hover-color: #7A7A7A; 

    --glass-background-color:rgba(235, 235, 235, 0.25);
    --glass-box-shadow:0 4px 30px rgba(0, 0, 0, 0.15);
    --glass-backdrop-filter: blur(2.3px);
    --glass-webkit-backdrop-filter:blur(2.3px);
    --glass-border: 1px solid rgba(132, 132, 132, 0.30);

    --bar-color: #A3A3A3;
    --percentage-color:var(--text-color);
    --percentage-background:#E0E0E0;
}


/* .light-mode:not(.nav-options-container.active, .header.menu-open.light-mode,header.light-mode ){
    transition: 0.4s ease-in; 
} 



.dark-mode:not(.nav-options-container.active, .header.menu-open.dark-mode,header.dark-mode){
    transition: 0.4s ease-out;  
} 
 */
body {
    height: 100%;
    margin: 0;
    padding: 0;
    color: var(--text-color);
    font-family: 'Roboto Condensed', sans-serif;
}

@media (min-width:1300px) {
    #root{
        width: 1300px;
        margin: auto;
    }
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


img, svg{
    user-select: none;
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none;
}