.about-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
    padding: 80px 25px;
    color: var(--text-color);
    margin-top: 20px;
    box-sizing: border-box;
    margin-bottom: 100px;
}

.titles {
    font-size: 30px;
    margin-bottom: 50px;
}

.about-info,
.projects {
    box-sizing: border-box;
    margin: 0 40px;
}

.about-info,
.projects {
    width: calc(50% - 80px);
}

.about-info .paragraph{
    margin-top: 50px;
}

.project-content{
    text-decoration: none;
}

.project-content p{
    text-decoration: none;
    color: var(--text-color);
}

a:link, a:visited{
    text-decoration: none;
}

.project-container{
    margin-bottom: 15px;
    background: var(--glass-background-color);
    box-shadow: var(--glass-box-shadow);
    backdrop-filter: var(--glass-backdrop-filter);
    -webkit-backdrop-filter: var(--glass-webkit-backdrop-filter);
    border: var(--glass-border);
    border-radius: 0.5rem;
    padding: 15px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.project-container:hover {
    background: var(--secondary-color); 
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px); 
    border-color: var(--hover-color); 
}

.project-container .project-title{
    font-size: 18px;    
}

.project-container .project-description{
    font-size: 16px;
    color: var(--bar-color);
}

.project-tecnologies{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    gap: 10px;
    position: relative;
}

.project-tecnologies::after {
    content: "";
    display: block;
    flex-basis: 100%; 
    height: 5px; 
    margin-top: 5px; 
    background: transparent; 
}

.tecnology-container{
    color: var(--percentage-color);
    font-size: 12px;
    background:  var( --percentage-background);
    border-radius: 0.2rem;
    width: auto;
    padding: 4px;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
    box-sizing: border-box;
    margin-bottom: -10px; 
}

.see-more p{
    font-size: 16px;
    margin-left: 15px;   
}

.see-more p:hover{
    color: var(--hover-color);
}

.skills {
    width: calc(100% - 80px);
    margin: 0 40px;
    height: 400px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    gap: 20px; 
    color: var(--text-color);
}

.skills-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    gap: 80px; 
    background: var(--glass-background-color);
    box-shadow: var(--glass-box-shadow);
    backdrop-filter: var(--glass-backdrop-filter);
    -webkit-backdrop-filter: var(--glass-webkit-backdrop-filter);
    border: var(--glass-border);
    padding: 30px;
    border-radius: 0.5rem;
}

.skill-column {
    flex: 1; 
}

.skill-container {
    width: 100%;
    margin: 10px 0;
    padding: 10px 0;
    position: relative;
}

.skill-container p {
    margin: 5px;
    font-size: 16px;
}

.bar {
    width: 100%;
    background: var(--bar-color);
    height: 5px; 
    border-radius: 100vw;
    overflow: hidden;
    position: relative;
    margin: 10px 0;
}

.bar span {
    height: 100%;
    display: block;
    background: var(--text-color);
    border-radius: 100vw;
    transition: width 1s cubic-bezier(.25, 8, .25, 1);
    width: var(--bar-width, 0%);
}

.percentage {
    content: "";
    position: absolute;
    color: var(--percentage-color);
    background:  var( --percentage-background);
    top: 25%; 
    width: 30px; 
    height: 20px; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px; 
    border-radius: 0.2rem;
    z-index: 10; 
    transform: translateY(-50%);
    white-space: nowrap;
}

.animate {
    animation: animateWidth 1.5s forwards;
}

.animatePer{
    animation: animatePercentage 1.5 forwards;
}

@keyframes animateWidth {
    from {
        width: 0%;
    }

    to {
        width: var(--bar-width);
    }
}

@keyframes animatePercentage {
    from {
    }

    to {
    }
}

@media (max-width: 1000px) {

    .about-info,
    .projects,.skills {
        width: 100%;
        margin: 10px 0;
        height: auto;
    }

    .about-info{
        margin-bottom: -50px;
    }

    .projects{
        margin:10px 0px
    }

    .about-container {
        padding: 50px;
        margin-bottom: 50px;
    }

    .skills {
        width: 100%;
        height: auto;
    }

    .skills-content{
        flex-direction: column;
        gap: 0;
    }
    .skill-column{
        margin-bottom: -10px;
    }
}

@media (min-width: 1000px) and (max-width: 1300px) {
    .skills {
        margin-top: calc(50px + (50px * (1300px - 100vw) / (1300px - 1000px)));
    }
}